<div class="container">
  <div class="row mb-5">
    <div class="offset-md-3 col-md-6">
      <h2 class="my-4">Log in</h2>
      <%= form_with model: @user, url: new_user_session_path do |f| %>
      <%= render "user/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
        　 </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-secondary mt-4 px-5" %>
      </div>
      <% end %>
      <!--Omniauth-->
       <div class="mt-5 mb-3">
          <p class="text-decoration-underline">ソーシャルアカウントでログイン</p>
          <%#= link_to "Facebook", user_facebook_omniauth_authorize_path, method: :post, class: "facebook" %>
          <%= link_to "Twitter", user_twitter_omniauth_authorize_path, method: :post, class: "twitter" %>
        </div> 
      <!--OmniauthEND-->
      　<br>
        <br>
        <p>まだ登録がお済みでない方はこちらから</p>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>

    </div>
  </div>
</div>
