<div class="container">
  <div class="row mb-5">
    <div class="offset-md-3 col-md-6">
      <h2 class="my-4">Sign up</h2>
      <%= form_with model: resource, url: registration_path(resource_name) do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        
         <div class="form-group">
          <%= f.label :email %><br>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
         <%= f.radio_button :gender, "男性" %>
         <%= f.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
         <%= f.radio_button :gender, "女性" %>
         <%= f.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
         <%= f.radio_button :gender, "無回答" %>
         <%= f.label :gender, "無回答", {value: :none, style: "display: inline-block;"} %>
         </div>
        
        <div class="form-group">
          <%= f.label :age %><br>
          <%= f.select :age, options_for_select((30..39)), { include_blank: "選択して下さい" }, { class: "form-control" } %>
        </div>
        
　　　　
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit "Sign up", class: "btn btn-secondary mt-4 px-5" %>
        </div>
      <% end %>
        <br>
          <!--Omniauth-->
       <div class="mt-5 mb-3">
          <p class="text-decoration-underline">ソーシャルアカウントで新規登録</p>
          <%#= link_to "Facebook", user_facebook_omniauth_authorize_path, method: :post, class: "facebook" %>
          <%= link_to "Twitter", user_twitter_omniauth_authorize_path, method: :post, class: "twitter" %>
        </div> 
      <!--OmniauthEND-->
        <br>
        <p>すでに登録済みの方はこちらから</p>
        <%= link_to "Log in",  new_user_session_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>