<div class="container">
    <h4>Life List</h4>
    <div class="row">
     <div class="life-list1">
            <%#= image_tag( '画像ファイルのパス', size: '横幅x高さ' %>
            <%=link_to goals_new_path do %>
              <%= image_tag '1.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list2">
            <%=link_to goals_new_path do %>
              <%= image_tag '2.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list3">
            <%=link_to goals_new_path do %>
              <%= image_tag '3.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list4">
            <%=link_to goals_new_path do %>
              <%= image_tag '4.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list5">
            <%=link_to goals_new_path do %>
              <%= image_tag '5.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list6">
            <%=link_to goals_new_path do %>
              <%= image_tag '6.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list7">
            <%=link_to goals_new_path do %>
              <%= image_tag '7.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
      <div class="life-list8">
            <%=link_to goals_new_path do %>
              <%= image_tag '8.jpg', size: '275x160',class: "col-xs-3" %>
            <%end%>
      </div>
     
    </div>
</div>