<div class="col-md-9">
  <%#= 右ペイン %>
  <div class="row text-center">
   
    
    <% goals.each do |goal| %>
    <div class="col-md-4 col-sm-6">
      <%= link_to goal_path(goal.id) do %>
      <div class="card mb-4 shadow-sm">

        <div class="card-header bg-white">
          <%= image_tag "#{goal.theme_id}_new.jpg", class: "img-fluid" %>
        </div>

        <div class="card-body textbody-color">
          <div>
           <%= goal.user.name%>
          </div>
          <p><%= goal.user.gender %>   |   <%= goal.user.age %>歳</p>
          <div class="card-title" style= "height: 120px;">
            <h4><%= goal.status %></h4>
            <div class="pricing-card-title" title="<%= goal.body %>"><%= goal.body %></div>
            <% if goal.status == 'すでに達成した' %>
            
            <!--星評価-->
            <div id="star-rate-<%= goal.id %>" class="star-rate"></div>
            <script>
              var elem = document.getElementById('star-rate-<%= goal.id %>');
              var opt = {
                size: 30,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                readOnly: true,
                score: <%= goal.rate ||= 0 %> ,
              }
              elem.innerHTML = "";
              raty(elem, opt);
            </script>
            <!--/星評価end-->
            <% end %>
          </div>
        </div>
        <% if p_index == true %>
         <p><%= link_to "#{goal.post_comments.count} コメント", goal_path(goal.id) %></p>
        <% end %>
        <div class="card-footer text-right">
          <% if goal.user == current_user %>
            <%= link_to destroy_goal_path(goal.id), class: 'text-black-50', method: :delete, "data-confirm" => "本当に削除しますか？" do %>
            <i class="far fa-trash-alt mr-3"></i>
            <% end %>
           <% end %>
          <small class="text-black-50">
            <%= goal.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %>
          </small>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
