<div class="container textbody-order">

 <h2 class="my-5">Life Echo Box</h2>
  
 <div class="row text-center">
    <% @goals.each do |goal| %> 
    <%#=link_to goal_path(current_user)(1) do %>
      <div class="col-md-4 col-sm-6">
        <%= link_to goal_path(goal.id) do %>
        <div class= "card mb-4 shadow-sm">
           
          <div class="card-header bg-white">
           <%= image_tag "#{goal.theme.image_id}_new.jpg", class: "img-fluid" %>
          </div>
         
          <div class="card-body textbody-color">
             <p><%= goal.user.name %></p>
              <div class="card-title pricing-card-title">
                <h4><%= goal.status %></h4>
                <p><%= goal.body %></p>
                 <!--星評価-->
                        <div id="star-rate-<%= goal.id %>"></div>
                          <script>
                          var elem = document.getElementById('star-rate-<%= goal.id %>');
                          var opt = {
                            size: 30,
                            starOff:  '<%= asset_path('star-off.png') %>',
                            starOn : '<%= asset_path('star-on.png') %>',
                            readOnly: true,
                            score: <%= goal.rate %>,
                          }
                          raty(elem, opt);
                  
                          </script> 
                 <!--/星評価-->
              </div>
              <% if goal.user == current_user %>
              <%= link_to "削除", destroy_goal_path(goal.id), class:"btn btn-outline-secondary",method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
          </div>
           <p><%= link_to "#{goal.post_comments.count} コメント", goal_path(goal.id) %></p>
        </div>
        <% end %>
      </div>
    <%# end %>
    <% end %>
</div>
    
      
  <div class= "mb-3">
    <%= link_to "My Life Box", goals_path, class:"btn btn-outline-secondary" %>
    <%= link_to "Life List​",users_themes_path, class:"btn btn-outline-secondary" %>
  </div>
</div>