<div class="container-fluid textbody-order">

  <h2 class="my-5">Life Echo Box</h2>
  
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'user/themes/theme_lists', locals: {mode: 'life_echo_box'} %>
      <div class= "mb-3">
        <%= link_to "My Life Box", goals_path, class:"btn btn-outline-secondary" %>
        <%= link_to "Life List​",users_themes_path, class:"btn btn-outline-secondary" %>
      </div>
    </div>
    <div class="col-md-9">
      <%#= 右ペイン %>
      <div class="row text-center">
        <% @goals.each do |goal| %> 
        <%#=link_to goal_path(current_user)(1) do %>
          <div class="col-md-4 col-sm-6">
            <%= link_to goal_path(goal.id) do %>
            <div class= "card mb-4 shadow-sm">
               
              <div class="card-header bg-white">
               <%= image_tag "#{goal.theme_id}_new.jpg", class: "img-fluid" %>
              </div>
             
              <div class="card-body textbody-color">
                 <p><%= goal.user.name %></p>
                  <div class="card-title pricing-card-title">
                    <h4><%= goal.status %></h4>
                    <p><%= goal.body %></p>
                    <% if goal.status == 'すでに達成した' %>
                     <!--星評価-->
                            <div id="star-rate-<%= goal.id %>"></div>
                              <script>
                              var elem = document.getElementById('star-rate-<%= goal.id %>');
                              var opt = {
                                size: 30,
                                starOff:  '<%= asset_path('star-off.png') %>',
                                starOn : '<%= asset_path('star-on.png') %>',
                                readOnly: true,
                                score: <%= goal.rate ||= 0 %>,
                              }
                              elem.innerHTML = "";
                              raty(elem, opt);
                      
                              </script> 
                     <!--/星評価end-->
                     <% end %>
                  </div>
                  <% if goal.user == current_user %>
                  <%= link_to "削除", destroy_goal_path(goal.id), class:"btn btn-outline-secondary",method: :delete, "data-confirm" => "本当に削除しますか？" %>
                  <% end %>
              </div>
               <!--<p><%#= link_to "#{goal.post_comments.count} コメント", goal_path(goal.id) %></p>-->
            </div>
            <% end %>
          </div>
        <%# end %>
        <% end %>
     </div>
    </div>
  </div>
 
 
 
 
 <!-- <div class="row">-->
 <!--   <div class="col-xs-2">-->
 <!-- <main class="d-flex flex-nowrap">-->
 <!--  <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">-->
 <!--   <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">-->
 <!--     <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>-->
 <!--     <span class="fs-4">サイドバー</span>-->
 <!--   </a>-->
 <!--   <hr>-->
 <!--   <ul class="nav nav-pills flex-column mb-auto">-->
 <!--     <% Theme.all.each do |theme| %>-->
 <!--       <li class="nav-item">-->
 <!--         <%= link_to goals_all_path(theme_id: theme.image_id), class: "nav-link" do %>-->
 <!--           <%= theme.name %>-->
 <!--         <% end %>-->
 <!--       </li>-->
 <!--     <% end %>-->
 <!--   </ul>-->
 <!--   </div>-->
 <!-- </div>-->
 <!--</div>-->
   
   </div>
  </main>
</div>
  <% if request.fullpath.include? "theme_id" %>
    <%= link_to request.fullpath + "&rate=5" do %><p>★★★★★</p><% end %>
    <%= link_to request.fullpath + "&rate=4" do %><p>★★★★☆</p><% end %>
    <%= link_to request.fullpath + "&rate=3" do %><p>★★★☆☆</p><% end %>
    <%= link_to request.fullpath + "&rate=2" do %><p>★★☆☆☆</p><% end %>
    <%= link_to request.fullpath + "&rate=1" do %><p>★☆☆☆☆</p><% end %>
    <%= link_to request.fullpath + "&rate=0" do %><p>☆☆☆☆☆</p><% end %>
  <% end %>
  <%= paginate(@goals) %>