
  <div class="container">
   <h3>My Life Box​</h3>
    <div class="row text-center">
   
   
    <% @goals.each do |goal| %> 
    <%#=link_to goal_path(current_user)(1) do %>
      <div class="col-md-4 col-sm-6">
        <div class= "card mb-4 shadow-sm">
           
          <div class="card-header bg-white">
           <%= image_tag "#{goal.theme_id}_new.jpg", class: "img-fluid" %>
          </div>
         
          <div class="card-body">
             <p><%= goal.user.name %></p>
              <div class="card-title pricing-card-title">
                <h4><%= goal.status %></h4>
                <p><%= goal.body %></p>
              </div>
              <% if goal.user == current_user %>
              <%= link_to "削除", destroy_goal_path(goal.id), class:"btn btn-outline-secondary",method: :delete, "data-confirm" => "本当に削除しますか？" %>
              <% end %>
          </div>
        </div>
      </div>
    <%# end %>
    <% end %>
    </div>
    
      
<%= link_to "All Life Box", goals_all_path, class:"btn btn-outline-secondary" %>
<%= link_to "Life List​",users_themes_path, class:"btn btn-outline-secondary" %>

</div>