<div class="container">
 <div class="user_n">
    <%= image_tag "#{@theme_id}_new.jpg", size: '275x100',class: "col-xs-3" %>

  <%= form_with model: @goal, url:goals_path do |f| %>
  
    <%= f.select :status, Goal.statuses.map { |key, value| [key, value] } %>
    <%= f.hidden_field :theme_id, :value => @theme_id %>
	
    <h4>気持ち</h4>
    <%= f.text_area :body %>
	
     <%= f.submit '投稿' %>
  <% end %>
 
 </div>

</div>