<div class="container">
 <div class="row mb-5">
  <div class="offset-md-3 col-md-6">
    
 <head>
    <div class="user_new">
    <%= image_tag "#{@theme_id}_new.jpg", size: '275x100',class: "col-xs-3" %>
 </head>
 
 <body>
  <%= form_with model: @goal, url:goals_path do |f| %>
  <style>
 .box select{
    width: 600px;
    height: 50px;
    font-size: 25px;
    text-align: center;
 }</style>
  
  <div class="box">
    <%= f.select :status, Goal.statuses.map { |key, value| [key, value] } %>
    <%= f.hidden_field :theme_id, :value => @theme.id %>
	 </div>
	 
    <h4>　　　</h4>
    <%= f.text_area :body, :size=>"70x15", placeholder: "気持ち" %>
	
     <%= f.submit '投稿する', class: "shadow-3" %>
     <!--<p><input class="shadow-3" type="submit" value="投稿する"></p>-->
  <% end %>
  </body>
    </div>
  </div>
 </div>
</div>