<div class="container">
<h2>管理者ログイン</h2>

<%= form_with model: @admin, url: admin_session_path do |f| %>

  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: "パスワード" %>
  </div><br>


  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
</div>


<%= render "admins/shared/links" %>
