<div class="container">
    <div class="row mb-5">
        <div class="offset-md-3 col-md-6">
            <h4 class="my-5">My page​編集</h4>
                <%= form_with model: @user do |f| %>
                
              <div class="form-group">
                  <%= f.label :name %><br>
                  <%= f.text_field :name, class: "form-control" %>
              </div>
              
               <div class="form-group">
                  <%= f.label :email %><br>
                  <%= f.text_field :email, class: "form-control" %>
              </div>
              
              <div class="form-group">
                  <%= f.radio_button :gender, "男性" %>
                  <%= f.label :gender, "男性", {value: :male, style: "display: inline-block;"} %>
                  <%= f.radio_button :gender, "女性" %>
                  <%= f.label :gender, "女性", {value: :female, style: "display: inline-block;"} %>
                  <%= f.radio_button :gender, "無回答" %>
                  <%= f.label :gender, "無回答", {value: :none, style: "display: inline-block;"} %>
               </div>
              
              <div class="form-group">
                  <%= f.label :age %><br>
                  <%= f.select :age, options_for_select((30..39)), { include_blank: "選択して下さい" }, { class: "form-control" } %>
              </div>
              
            
              <%= f.submit "変更を保存", class:"btn btn-outline-secondary" %>
              <% end %>
    
        </div>
    </div>
</div>