<div class="container">
  <div class="row mb-5">
    <div class="offset-md-3 col-md-6">
      <h4 class="my-5">My Page​</h4>
      </h4>
      <table class="table table-bordered table-condensed">
        <tr>
          <td class="form-group">ニックネーム</td>
          <td><%= current_user.name %></td>
        </tr>

        <tr>
          <td class="form-group">メールアドレス</td>
          <td><%= current_user.email %></td>
        </tr>

        <tr>
          <td class="form-group">性別</td>
          <td><%= current_user.gender %></td>
        </tr>

        <tr>
          <td class="form-group">年齢</td>
          <td><%= current_user.age %></td>
        </tr>
      </table>

      <strong class="information-link"><%= link_to " 編集する", edit_user_path, class:"btn btn-outline-secondary" %></strong>
      <strong class="information-link"><%= link_to "退会する", withdrawal_path, class:"btn btn-outline-secondary",  method: :patch, data: { confirm: "本当に退会しますか？" } %></strong>

      <strong><%= link_to " My Life Box", goals_path, class:"btn btn-outline-secondary" %></strong>
    </div>
  </div>
</div>